.dorayaki-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.dorayaki-title {
  font-size: 30px;
}

.dorayaki-content {
  padding: 30px;
  border-style: solid;
  border-radius: 5px;
  border-width: 0.5px;
  border-color: #e5e5e5;
  margin-top: 30px;
  width: 100%;
  background-color: white;
}

.dorayaki-content-inner {
  display: flex;
  flex-direction: row;
}

.dorayaki-content-left {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.dorayaki-content-right {
  width: 50%;
}

.ant-upload.ant-upload-drag {
  margin-top: 40px;
  height: 200px;
}

.dropzone-description {
  margin-top: 10px;
  color: #888888;
  font-size: 15px;
  font-style: italic;
}

.dorayaki-content-left .input-container {
  margin-left: 8%;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
}

.dorayaki-content-left .input-container .input-field {
  display: flex;
  flex-direction: column;
}

.dorayaki-content-left .input-container .input-field-bot {
  margin-top: 20px;
}

.dorayaki-content-left .input-container .input-field .input-items {
  margin-top: 10px;
  width: 80%;
  height: 50px;
}

.dorayaki-content-bottom {
  margin-top: 70px;
  display: flex;
}
.dorayaki-content-bottom .cancel-container {
  width: 50%;
}

.dorayaki-content-bottom .submit-container {
  width: 50%;
}

.dorayaki-button-cancel {
  background-color: #f8f8f8;
  color: #206bc4;
  margin-top: 20%;
  padding-left: 5%;
  height: 40px;
  width: 100px;
}
.dorayaki-button-submit {
  color: #f8f8f8;
  background-color: #206bc4;
  margin-top: 20%;
  margin-left: 8%;
  padding-left: 5%;
  height: 40px;
  width: 100px;
}
